// .calendarIcon {
//   // Стили для кнопки с иконкой календаря
// }

.dropdown {
  position: absolute;
  z-index: 10;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
  // Стили для позиционирования и оформления выпадающего окна
}

// .quickSelect,
// .refreshEvery {
//   // Стили для разделов внутри выпадающего окна
// }

// Дополнительные стили по необходимости...
