.myDatePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 300px;
}

.myDatePicker button {
  padding: 8px 16px;
  border: none;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.iconButton {
  background-color: transparent;
  color: #0077cc;
}

.myDatePicker button:hover {
  background-color: #005fa3;
}
